<div class="chia-seed" style="padding: 40px" >
    <h2 class="eveleth">Delivery Method</h2>
    <section>
        <div>
            <?php if($block->getData('message')): ?>
                <h4><?php echo $block->getData('message'); ?></h4>
            <?php endif; ?>
        </div>
    </section>
</div>