<?php
$objectManager =   \Magento\Framework\App\ObjectManager::getInstance();
$storeCollection = $objectManager->create('Magestore\Storepickup\Model\ResourceModel\Store\Collection');
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
?>
<div class="chia-seed" style="padding: 40px" >
<h2 class="eveleth">Please Confirm Delivery Method</h2>
<p>Pickup & Delivery only availible in the Chicagoland area.</p>
<section class="delivery">
    <header>
        <p id="delivery-error" style="display: none; color:red">Please Select a Delivery Method</p>
    </header>

    <div class="row">
        <div class="sc-radio">
            <span id="pick-up-selection" class="fa fa-circle-o light-grey"></span>
        </div>
        <div class="sc-radio-content">
            <h3>Pick Up</h3>
            <p>Your order will be delivered to a Kitchfix fridge at the pick-up spot of your choice.
                Pick it up anytime after the indicated drop-off time, as long as the location is open. Check out all
                our hub locations <a  class="select_store_by_map" href="javascript:void(0);">here!</a></p>
            <div id="pick-up-content" style="display: none">
                <div class="margin-bottom">
                    <div class="arrow-wrap">
                        <h4 class="btn-tumeric-arrow">Hub Location</h4>
                    </div>

                    <p>
                        <select id="store_locations" class="form-control form-lg grey list-store-select">
                            <option value="">Select a Store</option>
                            <?php foreach($storeCollection as $store): ?>
                                <?php $store; ?>
                                <option name="<?php echo $store->getStoreName(); ?>" value="<?php echo $store->getId(); ?>">
                                    <?php echo $store->getStoreName(); ?> -
                                    <?php echo $store->getAddress(); ?>,
                                    <?php echo $store->getCity(); ?>,
                                    <?php echo $store->getState(); ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </p>
                </div>
                <div class="margin-bottom">
                    <div class="row pickup_info">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="sc-radio">
            <span id="delivery-selection" class="fa fa-circle-o light-grey"></span>
        </div>
        <div class="sc-radio-content">
            <div class="margin-bottom">
                <h3>Delivery ($6+)</h3>
                <p>Our team will hand-deliver your order within the time frame you select.</p>
            </div>
            <div id="delivery-content" style="display: none;">
                <div class="margin-bottom">
                    <div class="arrow-wrap">
                        <h4 class="btn-tumeric-arrow">Delivery Options</h4>
                    </div>

                    <p><strong>Your order qualifies for special delivery options.</strong></p>
                    <p>Because you ordered over $70 worth of meals, you can split your delivery between two days. Please select your delivery day and time and tell us which items you'd like delivered each day.</p>
                </div>
                <div class="row margin-bottom">
                    <label>Check Zip for Delivery Availibility</label>
                    <input type="text" class="form-control postcode_delivery form-lg grey"><button class="form-control check_zip_btn">Check</button>
                </div>
                <div class="row delivery_info">

                </div>
            </div>
        </div>
    </div>
</section>
<center>
    <a id="exit_delivery_settings" style="color:#FAA819; font-weight: bold;" href="javascript:void(0)">Provide pick-up/delivery information at checkout</a><br/><br/>
    <span class="input-group-btn">
        <button style="font-weight: bold" class="btn save-delivery-info"> SAVE & KEEP SHOPPING</button>
    </span>
</center>
</div>
<script type="text/javascript">
    require(
        [
            'jquery',
            'Clarity_StorePickupExt/js/catalog/storechecker',
            'quickview'
        ],
        function($,storeChecker,quickview) {

            var checkStorePickUpUrl = "<?php echo $baseUrl; ?>storepickupext/metrics/pickup";
            var checkStoreUrl = "<?php echo $baseUrl; ?>storepickupext/metrics/table";
            storeChecker.setBaseUrl('<?php echo $baseUrl; ?>');
            var params = {};

            var selectionObject = {
                showPickupOption : function() {
                    $("#pick-up-selection").removeClass("fa-circle-o light-grey");
                    $("#pick-up-selection").addClass("fa-check-circle celery");
                    $("#delivery-selection").addClass("fa-circle-o light-grey");
                    $("#delivery-selection").removeClass("fa-check-circle celery");
                    $("#pick-up-content").css("display","block");
                    $("#delivery-content").css("display","none");
                    $(".cart-box .delivery-type").html("Pick-Up");
                    storeChecker.setDeliveryType("pickup");
                },

                showDeliveryOption : function() {
                    $("#delivery-selection").removeClass("fa-circle-o light-grey");
                    $("#delivery-selection").addClass("fa-check-circle celery");
                    $("#pick-up-selection").addClass("fa-circle-o light-grey");
                    $("#pick-up-selection").removeClass("fa-check-circle celery");
                    $("#pick-up-content").css("display","none");
                    $("#delivery-content").css("display","block");
                    $(".cart-box .delivery-type").html("Delivery");
                    storeChecker.setDeliveryType("delivery");
                },

                bindTimeSlotClick : function() {
                    $('[name="shipping_cost"]').click(function(){
                        params.delivery_price = $(this).attr("value");
                        params.delivery_date = $(this).attr("date");
                        var val = $(this).html();
                        val = val.replace(/\s/g,'');
                        val = val.substring(1);
                        val = parseInt(val);

                        $('[name="shipping_cost"]').each(function(){
                            $(this).closest('div').removeClass('active');
                        });
                        $(this).closest('div').addClass('active');
                    });
                },

                //Zipcode look up function
                zipcodeLookup : function() {
                    $('.quickview-content').trigger('processStart');
                    var val = $(".postcode_delivery").val();
                    if(val == null || val=='')
                        return;

                    var data = {zipcode:val};
                    $.ajax({
                        url:checkStoreUrl,
                        type:"GET",
                        data:data,
                        success: function(d){
                            var html = d;
                            $(".delivery_info").html(html);
                            $('.quickview-content').trigger('processStop');
                            bindTimeSlotClick();
                        }
                    });
                },
                callBack:function() {
                    alert("test");
                }
            }

            $( "body" ).on( "beforeCheckStorePickup" ,function(){
                showPickupOption();
            });
            showPickupOption = function() {
                $("#pick-up-selection").removeClass("fa-circle-o light-grey");
                $("#pick-up-selection").addClass("fa-check-circle celery");
                $("#delivery-selection").addClass("fa-circle-o light-grey");
                $("#delivery-selection").removeClass("fa-check-circle celery");
                $("#pick-up-content").css("display","block");
                $("#delivery-content").css("display","none");
                $(".cart-box .delivery-type").html("Pick-Up");
                storeChecker.setDeliveryType("pickup");
            }

            showDeliveryOption = function() {
                $("#delivery-selection").removeClass("fa-circle-o light-grey");
                $("#delivery-selection").addClass("fa-check-circle celery");
                $("#pick-up-selection").addClass("fa-circle-o light-grey");
                $("#pick-up-selection").removeClass("fa-check-circle celery");
                $("#pick-up-content").css("display","none");
                $("#delivery-content").css("display","block");
                $(".cart-box .delivery-type").html("Delivery");
                storeChecker.setDeliveryType("delivery");
            }

            bindTimeSlotClick = function() {
                $('.delivery-option-times .checkbox').click(function(){
                    $('.delivery-option-times .checkbox').removeClass("active");
                    var element = $(this).find("span");
                    params.delivery_price = element.attr("value");
                    params.delivery_date = element.attr("date");
                    $(this).closest('div').addClass('active');
                });
            }

            //Zipcode look up function
            zipcodeLookup = function() {
                $('.quickview-content').trigger('processStart');
                var val = $(".postcode_delivery").val();
                if(val == null || val=='')
                    return;

                var data = {zipcode:val};
                $.ajax({
                    url:checkStoreUrl,
                    type:"GET",
                    data:data,
                    success: function(d){
                        var html = d;
                        $(".delivery_info").html(html);
                        $('.quickview-content').trigger('processStop');
                        bindTimeSlotClick();
                    }
                });
            }

            $(document).ready(function(){

                $('.select_store_by_map').click(function () {
                    $('#popup-mpdal').modal('openModal');
                    //if(typeof newMap != 'undefined'){
                    //var   map = newMap.getNewMap();
                    google.maps.event.trigger(newmap, "resize");  //Silver and Richard
                    //}
                    $(".modal-popup").css("z-index","90000");
                });

                $("#pick-up-selection").click(function(){
                    showPickupOption();
                });
                $("#delivery-selection").click(function(){
                    showDeliveryOption();
                });

                $("#exit_delivery_settings").click(function(){
                    quickview.toggleModal();
                });

                //Zip code look up
                $(".check_zip_btn").click(function(){
                    zipcodeLookup();
                });

                //Store Code Look Up. Ajax call To Get TimeSlots Based on Store picked
                $("#store_locations").change(function() {
                    $('.quickview-content').trigger('processStart');
                    var val = $(this).val();
                    if(val == '') {
                        scrollTo(".delivery");
                        return false;
                    }
                    var data = {storeId:val,pickup:1};
                    var storeName = $('option:selected', this).attr('name');
                    $(".cart-box .store-name").html(storeName);
                    $.ajax({
                        url:checkStorePickUpUrl,
                        type:"GET",
                        data:data,
                        success: function(d){
                            var html = d;
                            $(".pickup_info").html(html);
                            $('.quickview-content').trigger('processStop');
                            //Bind the click events when table is returned
                            bindTimeSlotClick();
                        }
                    });
                });

                $(".save-delivery-info").click(function(){
                    params.zipcode = '';
                    params.store_id = '';
                    var deliveryType = storeChecker.getDeliveryType();
                    if(deliveryType === "delivery") {
                        params.zipcode = $(".postcode_delivery").val();
                    }
                    if(deliveryType === "pickup") {
                        params.store_id = $(".list-store-select").val();
                    }
                    $('.quickview-content').trigger('processStart');
                    storeChecker.setData(params);
                    storeChecker.checkStore(function(d){
                        $('.quickview-content').trigger('processStop');
                        location.reload();
                    });
                });
            });

        });

</script>