<?php
/** @var \Magestore\Storepickup\Block\Wrapper $block */
$collection = $block->getStoreMetrics();
?>
<div class="arrow-wrap">
    <h4 class="btn-tumeric-arrow">Time Slots</h4>
</div>
<div>
    <div class="deleivery-steps">
        <h4 class="delivery-option-title">
            Pick your delivery day
        </h4>
        <table>
            <tr>
                <td></td>
                <?php $datetime = new DateTime('+0 day'); ?>
                <td><?php echo $datetime->format('D'); ?></td>
                <?php $datetime = new DateTime('+1 day'); ?>
                <td><?php echo $datetime->format('D'); ?></td>
                <?php $datetime = new DateTime('+2 day'); ?>
                <td><?php echo $datetime->format('D'); ?></td>
                <?php $datetime = new DateTime('+3 day'); ?>
                <td><?php echo $datetime->format('D'); ?></td>
                <?php $datetime = new DateTime('+4 day'); ?>
                <td><?php echo $datetime->format('D'); ?></td>
                <?php $datetime = new DateTime('+5 day'); ?>
                <td><?php echo $datetime->format('D'); ?></td>
                <?php $datetime = new DateTime('+6 day'); ?>
                <td><?php echo $datetime->format('D'); ?></td>
            </tr>
            <tr>
                <?php foreach($collection as $metrics): ?>
                    <tr>
                    <td><?php echo $metrics->getTimeslotName(); ?></td>
                    <td><a class="order_selected" timeslotprice="<?php echo $metrics->getCostRelativeByToday(0); ?>" timeslotday='<?php echo $metrics->getTimeStampRelativeByToday(0); ?>' timeslot="<?php echo $metrics->getTimeslotName(); ?>" href="javascript:">$<?php echo $metrics->getCostRelativeByToday(0); ?></a></td>
                    <td><a class="order_selected" timeslotprice="<?php echo $metrics->getCostRelativeByToday(1); ?>" timeslotday='<?php echo $metrics->getTimeStampRelativeByToday(1); ?>' timeslot="<?php echo $metrics->getTimeslotName(); ?>" href="javascript:">$<?php echo $metrics->getCostRelativeByToday(1); ?></a></td>
                    <td><a class="order_selected" timeslotprice="<?php echo $metrics->getCostRelativeByToday(2); ?>" timeslotday='<?php echo $metrics->getTimeStampRelativeByToday(2); ?>' timeslot="<?php echo $metrics->getTimeslotName(); ?>" href="javascript:">$<?php echo $metrics->getCostRelativeByToday(2); ?></a></td>
                    <td><a class="order_selected" timeslotprice="<?php echo $metrics->getCostRelativeByToday(3); ?>" timeslotday='<?php echo $metrics->getTimeStampRelativeByToday(3); ?>' timeslot="<?php echo $metrics->getTimeslotName(); ?>" href="javascript:">$<?php echo $metrics->getCostRelativeByToday(3); ?></a></td>
                    <td><a class="order_selected" timeslotprice="<?php echo $metrics->getCostRelativeByToday(4); ?>" timeslotday='<?php echo $metrics->getTimeStampRelativeByToday(4); ?>' timeslot="<?php echo $metrics->getTimeslotName(); ?>" href="javascript:">$<?php echo $metrics->getCostRelativeByToday(4); ?></a></td>
                    <td><a class="order_selected" timeslotprice="<?php echo $metrics->getCostRelativeByToday(5); ?>" timeslotday='<?php echo $metrics->getTimeStampRelativeByToday(5); ?>' timeslot="<?php echo $metrics->getTimeslotName(); ?>" href="javascript:">$<?php echo $metrics->getCostRelativeByToday(5); ?></a></td>
                    <td><a class="order_selected" timeslotprice="<?php echo $metrics->getCostRelativeByToday(6); ?>" timeslotday='<?php echo $metrics->getTimeStampRelativeByToday(6); ?>' timeslot="<?php echo $metrics->getTimeslotName(); ?>" href="javascript:">$<?php echo $metrics->getCostRelativeByToday(6); ?></a></td>
                    </tr>
                <?php endforeach; ?>
            </tr>
        </table>
    </div>
</div>
