<?php
/** @var \Magestore\Storepickup\Block\Wrapper $block */
$collection = $block->getStoreMetricsByPackageId();
$order_id = $this->getRequest()->getParam('order');
if ($order_id) {
    $typeMenu = $block->getTypeMenuFromOrder($order_id);
} else {
    $typeMenu = 1;
}

$holidays = $block->getHolidays();
$specialDays = $block->getSpecialDayData();
$storeId = $block->getRequest()->getParam('storeId');
$zipCode = $block->getRequest()->getParam('zipcode');
$daysAllowed = array();
$daysNumber = array();
$isHoliday = array();
$isSpecialDay = array();
$specialDayTime = array();
$disableDays = array();
$subscription = false;
?>

<div class="arrow-wrap">
    <h4 class="btn-tumeric-arrow"><?php if($block->getShippingType() == 'pickup') { echo 'Pickup'; } else { echo 'Delivery Options';} ?></h4>
</div>
<?php if($collection->count()): ?>
<div class="deleivery-steps ">
    <div class="<?php echo $block->getShippingType() ?>-option-times">
        <div class="deleivery-steps">
            <table class="timeslots-wrapper">
                <tr>
                    <td></td>
                    <!--If this week only show from next day to Saturday-->
                    <?php if ($typeMenu == 1) { ?>
                        <?php $stop = false; ?>
                        <?php for($i=1; $i<8; $i++): ?>
                            <?php $day = date('w'); ?>
                            <?php $datetime = new DateTime('-'.($day-($i-1)).' day'); ?>
                            <?php $dayName = $datetime->format('D m/d'); ?>
                            <?php if($datetime < new DateTime()) {$disableDays[$i] = 1; } else {$disableDays[$i] = 0; }  ?>

                            <?php

                            $holyDay = in_array($datetime->format('m/d/Y'), $holidays['holiday']);
                            if ($holyDay) {
                                $isHoliday[] = $i;
                            }

                            foreach ($specialDays as $item) {
                                $specialDay = in_array($datetime->format('Y-m-d'), $item['dates']);
                                if($specialDay) {
                                    $isSpecialDay[$i] = $item['times'];
                                }
                            }
                            ?>

                            <?php if( ! $stop ): ?>
                                <?php array_push($daysAllowed, $i); ?>
                                <td><?php echo $dayName; ?></td>
                            <?php endif; ?>

                            <!-- Once I show saturday stop showing days -->
                            <?php //TODO: CHECK $dayName value ?>
                            <?php if(substr($dayName,0,3) == 'Sat'): ?>
                                <?php $stop = true; ?>
                            <?php endif; ?>
                        <?php endfor; ?>
                    <?php } else if ($typeMenu == 2){
                        // If it's next week show from Sunday to Saturday
                        $todayDate = new DateTime();
                        $todayDate->setTime(0,0);
                        $firstSundayDate = new DateTime();
                        $firstSundayDate->modify('next Sunday');
                        $firstMonday = date_format($firstSundayDate,"Y-m-d H:i:s");
                        //TODO: Get difference in days from today to next sunday. ie: Th-Su=3+7 = 10 (10 will be the $i)
                        $interval = date_diff($todayDate, $firstSundayDate);
                        ?>
                        <?php for($i=0; $i<=6; $i++): ?>
                            <?php $diff = ($interval->format('%a') + $i); ?>
                            <?php array_push($daysNumber, $diff); ?>
                            <?php $datetime = new DateTime('+'.$diff.' day'); ?>
                            <?php $dayName = substr($datetime->format('D m/d'),0,3); ?>
                            <td><?php echo $datetime->format('D m/d'); ?></td>
                        <?php endfor; ?>
                    <?php } else { ?>
                        <?php if ($subscription): ?>
                            <?php for($i=1; $i<=7; $i++): ?>
                                <?php $datetime = new DateTime('+'.$i.' day'); ?>
                                <?php $dayName = substr($datetime->format('D m/d'),0,3); ?>
                                <?php if($dayName != 'Fri' && $dayName != 'Sat'): ?>
                                    <?php array_push($daysAllowed, $i); ?>
                                    <td><?php echo $dayName; ?></td>
                                <?php endif; ?>
                            <?php endfor; ?>
                        <?php else: ?>

                            <?php for($i=1; $i<7; $i++): ?>
                                <?php $datetime = new DateTime('+'.$i.' day'); ?>
                                <?php $dayName = $datetime->format('D m/d'); ?>
                                <?php
                                $holyDay = in_array($datetime->format('m/d/Y'), $holidays['holiday']);
                                if ($holyDay) {
                                    $isHoliday[] = $i;
                                }
                                foreach ($specialDays as $item) {
                                    $specialDay = in_array($datetime->format('Y-m-d'), $item['dates']);
                                    if($specialDay) {
                                        $isSpecialDay[$i] = $item['times'];
                                    }
                                }

                                ?>
                                <td><?php echo $holyDay.$dayName; ?></td>
                            <?php endfor; ?>
                        <?php endif; ?>

                    <?php } ?>



                </tr>
                <?php $time = date('H:i:s',strtotime("4 PM")); ?>
                <?php foreach($collection as $metrics): ?>
                    <tr>
                        <td><?php echo $metrics->getTimeslotName(); ?></td>
                        <?php if( ( (! $subscription && ($typeMenu != 1)) || $typeMenu == 2) || (($subscription || $typeMenu == 1) && in_array(1,$daysAllowed))): ?>
                            <td style="padding:0; margin: 0; column-span:0; width: 70px">
                                <?php

                                $disable = false;
                                $shippingType = $block->getShippingType();
                                $dayNumber = ($typeMenu == 2)? $daysNumber[0]: 1;
                                if ( !$subscription && (in_array(1,$isHoliday)  && ($shippingType != 'delivery') || ($shippingType == 'delivery' && date("H:i", strtotime($metrics->getTime())) <  $time))) {
                                    $disable = true;
                                }
                                if (!empty($disableDays[1]) && $disableDays[1]) {
                                    $disable = true;
                                }
                                $day = date('w');
                                $datetime = new DateTime('-'.($day-(1-1)).' day');
                                $today = new DateTime();
                                $tomorrow = new DateTime('tomorrow');
                                if($shippingType != 'delivery' && ($datetime->format('Y/m/d') == $today->format('Y/m/d') || intval($datetime->diff($tomorrow)->format('%R%a')) == 0)) {
                                    $disable = true;
                                }
                                if(($shippingType == 'delivery' && $datetime->format('Y/m/d') == $today->format('Y/m/d') || (intval($datetime->diff($tomorrow)->format('%R%a')) == 0 && date("H:i", strtotime($metrics->getTime())) <  $time) )) {
                                    $disable = true;
                                }


                                if (!$subscription &&
                                    (array_key_exists(1,$isSpecialDay) &&
                                        (date("H:i", strtotime($metrics->getTime())) < date('H:i:s',strtotime($isSpecialDay[1]['time_open'])) ||
                                            date("H:i", strtotime($metrics->getTime())) > date('H:i:s',strtotime($isSpecialDay[1]['time_close']))))) {

                                    $disable = true;
                                }
                                $price = ( ! $subscription)? '$'.$metrics->getCostRelativeByToday($dayNumber): '';

                                ?>
                                <div class="timeslot checkbox <?= ($disable || is_null($metrics->getCostRelativeByToday($dayNumber))) ? 'disable' : '' ?>">
                                    <label>
                                        <?php if(!is_null($metrics->getCostRelativeByToday($dayNumber)) && !$disable && !$metrics->checkIfTimePassed($dayNumber)): ?>

                                            <span name="shipping_cost"
                                                  available="<?php if($disable) { echo 0; } else {echo 1;} ?>"
                                                  date="<?php echo $metrics->getTimeStampRelativeByToday($dayNumber); ?> <?php echo $metrics->getTime(); ?>"
                                                  time_slot="<?php echo $metrics->getTimeslotName(); ?>"
                                                  type="radio"
                                                  value="<?php echo $metrics->getCostRelativeByToday($dayNumber); ?>"
                                                  storepickup_id="<?php echo $storeId ?>"
                                            ><?php echo $price; ?>
                                                </span>

                                        <?php endif; ?>
                                    </label>
                                </div>
                            </td>
                        <?php endif; ?>
                        <?php if( ( (! $subscription && ($typeMenu != 1)) || $typeMenu == 2) || (($subscription || ($typeMenu == 1)) && in_array(2,$daysAllowed))): ?>
                            <td style="padding:0; margin: 0; column-span:0; width: 70px">
                                <?php
                                //$time = date('H:i:s',strtotime("4 PM"));
                                $disable = false;
                                $dayNumber = ($typeMenu == 2)? $daysNumber[1]: 2;
                                if ($block->getShippingType() != 'delivery') {
                                    //$disable = true;
                                }
                                $day = date('w');
                                $datetime = new DateTime('-'.($day-(2-1)).' day');
                                $today = new DateTime();
                                $tomorrow = new DateTime('tomorrow');
                                if($block->getShippingType() != 'delivery' && ($datetime->format('Y/m/d') == $today->format('Y/m/d') || intval($datetime->diff($tomorrow)->format('%R%a')) == 0)) {
                                    $disable = true;
                                }
                                if(($block->getShippingType() == 'delivery' && $datetime->format('Y/m/d') == $today->format('Y/m/d') || (intval($datetime->diff($tomorrow)->format('%R%a')) == 0 && date("H:i", strtotime($metrics->getTime())) <  $time) )) {
                                    $disable = true;
                                }
                                if ( ! $subscription && in_array(2,$isHoliday)) {
                                    $disable = true;
                                }
                                if (!empty($disableDays[2]) && $disableDays[2]) {
                                    $disable = true;
                                }
                                if ( ! $subscription &&
                                    (array_key_exists(2,$isSpecialDay) &&
                                        (date("H:i", strtotime($metrics->getTime())) < date('H:i:s',strtotime($isSpecialDay[2]['time_open'])) ||
                                            date("H:i", strtotime($metrics->getTime())) > date('H:i:s',strtotime($isSpecialDay[2]['time_close']))))) {

                                    $disable = true;
                                }
                                $price = ( ! $subscription)? '$'.$metrics->getCostRelativeByToday($dayNumber): '';
                                ?>
                                <div class="checkbox <?= ($disable || is_null($metrics->getCostRelativeByToday(2))) ? 'disable' : '' ?>">
                                    <label>
                                        <?php if(!$disable && !is_null($metrics->getCostRelativeByToday($dayNumber)) && !$disable && !$metrics->checkIfTimePassed($dayNumber)): ?>
                                            <span name="shipping_cost"
                                                  available="<?php if($disable) { echo 0; } else {echo 1;} ?>"
                                                  date="<?php echo $metrics->getTimeStampRelativeByToday($dayNumber); ?> <?php echo $metrics->getTime(); ?>"
                                                  time_slot="<?php echo $metrics->getTimeslotName(); ?>"
                                                  type="radio"
                                                  value="<?php echo $metrics->getCostRelativeByToday($dayNumber); ?>"
                                                  storepickup_id="<?php echo $storeId ?>"
                                            ><?php echo $price; ?>
                                            </span>
                                        <?php endif; ?>
                                    </label>
                                </div>
                            </td>
                        <?php endif; ?>
                        <?php if( ( (! $subscription && ($typeMenu != 1)) || $typeMenu == 2) || (($subscription || ($typeMenu == 1)) && in_array(3,$daysAllowed))): ?>
                            <td style="padding:0; margin: 0; column-span:0; width: 70px">
                                <?php $dayNumber = ($typeMenu == 2)? $daysNumber[2]: 3; ?>
                                <?php
                                $disable = false;
                                if (! $subscription && in_array(3,$isHoliday)) {
                                    $disable = true;
                                }
                                if (!empty($disableDays[3]) && $disableDays[3]) {
                                    $disable = true;
                                }
                                $day = date('w');
                                $datetime = new DateTime('-'.($day-(3-1)).' day');
                                $today = new DateTime();
                                $tomorrow = new DateTime('tomorrow');
                                if($block->getShippingType() != 'delivery' && ($datetime->format('Y/m/d') == $today->format('Y/m/d') || intval($datetime->diff($tomorrow)->format('%R%a')) == 0)) {
                                    $disable = true;
                                }
                                if(($block->getShippingType() == 'delivery' && $datetime->format('Y/m/d') == $today->format('Y/m/d') || (intval($datetime->diff($tomorrow)->format('%R%a')) == 0 && date("H:i", strtotime($metrics->getTime())) <  $time) )) {
                                    $disable = true;
                                }
                                if (! $subscription &&
                                    (array_key_exists(3,$isSpecialDay) &&
                                        (date("H:i", strtotime($metrics->getTime())) < date('H:i:s',strtotime($isSpecialDay[3]['time_open'])) ||
                                            date("H:i", strtotime($metrics->getTime())) > date('H:i:s',strtotime($isSpecialDay[3]['time_close']))))) {

                                    $disable = true;
                                }
                                $price = ( ! $subscription)? '$'.$metrics->getCostRelativeByToday($dayNumber): '';
                                ?>
                                <div class="checkbox <?= ($disable || is_null($metrics->getCostRelativeByToday($dayNumber))) ? 'disable' : '' ?>">
                                    <label>
                                        <?php if(!$disable && !is_null($metrics->getCostRelativeByToday($dayNumber)) && !$metrics->checkIfTimePassed($dayNumber)): ?>
                                            <span name="shipping_cost"
                                                  available="<?php if($disable) { echo 0; } else {echo 1;} ?>"
                                                  date="<?php echo $metrics->getTimeStampRelativeByToday($dayNumber); ?> <?php echo $metrics->getTime(); ?>"
                                                  time_slot="<?php echo $metrics->getTimeslotName(); ?>"
                                                  type="radio"
                                                  value="<?php echo $metrics->getCostRelativeByToday($dayNumber); ?>"
                                                  storepickup_id="<?php echo $storeId ?>"
                                            ><?php echo $price; ?></span>
                                        <?php endif; ?>
                                    </label>
                                </div>
                            </td>
                        <?php endif; ?>
                        <?php if( ( (! $subscription && ($typeMenu != 1)) || ($typeMenu == 2)) || (($subscription || ($typeMenu == 1)) && in_array(4,$daysAllowed))): ?>
                            <td style="padding:0; margin: 0; column-span:0; width: 70px">
                                <?php $dayNumber = ($typeMenu == 2)? $daysNumber[3]: 4; ?>
                                <?php
                                $disable = false;
                                if (! $subscription && in_array(4,$isHoliday)) {
                                    $disable = true;
                                }
                                if (!empty($disableDays[4]) && $disableDays[4]) {
                                    $disable = true;
                                }
                                $day = date('w');
                                $datetime = new DateTime('-'.($day-(4-1)).' day');
                                $today = new DateTime();
                                $tomorrow = new DateTime('tomorrow');
                                if($block->getShippingType() != 'delivery' && ($datetime->format('Y/m/d') == $today->format('Y/m/d') || intval($datetime->diff($tomorrow)->format('%R%a')) == 0)) {
                                    $disable = true;
                                }
                                if(($block->getShippingType() == 'delivery' && $datetime->format('Y/m/d') == $today->format('Y/m/d') || (intval($datetime->diff($tomorrow)->format('%R%a')) == 0 && date("H:i", strtotime($metrics->getTime())) <  $time) )) {
                                    $disable = true;
                                }
                                if (! $subscription &&
                                    (array_key_exists(4,$isSpecialDay) &&
                                        (date("H:i", strtotime($metrics->getTime())) < date('H:i:s',strtotime($isSpecialDay[4]['time_open'])) ||
                                            date("H:i", strtotime($metrics->getTime())) > date('H:i:s',strtotime($isSpecialDay[4]['time_close']))))) {

                                    $disable = true;
                                }
                                $price = ( ! $subscription)? '$'.$metrics->getCostRelativeByToday($dayNumber): '';
                                ?>
                                <div class="checkbox <?= ($disable || is_null($metrics->getCostRelativeByToday($dayNumber))) ? 'disable' : '' ?>">
                                    <label>
                                        <?php if(!$disable && !is_null($metrics->getCostRelativeByToday($dayNumber)) && !$metrics->checkIfTimePassed($dayNumber)): ?>
                                            <span name="shipping_cost"
                                                  available="<?php if($disable) { echo 0; } else {echo 1;} ?>"
                                                  date="<?php echo $metrics->getTimeStampRelativeByToday($dayNumber); ?> <?php echo $metrics->getTime(); ?>"
                                                  time_slot="<?php echo $metrics->getTimeslotName(); ?>"
                                                  type="radio"
                                                  value="<?php echo $metrics->getCostRelativeByToday($dayNumber); ?>"
                                                  storepickup_id="<?php echo $storeId ?>"
                                            ><?php echo $price; ?></span>

                                        <?php endif; ?>
                                    </label>
                                </div>
                            </td>
                        <?php endif; ?>
                        <?php if( ( (! $subscription && ($typeMenu != 1)) || ($typeMenu == 2)) || (($subscription || ($typeMenu == 1)) && in_array(5,$daysAllowed))): ?>
                            <td style="padding:0; margin: 0; column-span:0; width: 70px">
                                <?php $dayNumber = ($typeMenu == 2)? $daysNumber[4]: 5; ?>
                                <?php
                                $disable = false;
                                if (! $subscription && in_array(5,$isHoliday)) {
                                    $disable = true;
                                }
                                $day = date('w');
                                $datetime = new DateTime('-'.($day-(5-1)).' day');
                                $today = new DateTime();
                                $tomorrow = new DateTime('tomorrow');
                                if($block->getShippingType() != 'delivery' && ($datetime->format('Y/m/d') == $today->format('Y/m/d') || intval($datetime->diff($tomorrow)->format('%R%a')) == 0)) {
                                    $disable = true;
                                }
                                if(($block->getShippingType() == 'delivery' && $datetime->format('Y/m/d') == $today->format('Y/m/d') || (intval($datetime->diff($tomorrow)->format('%R%a')) == 0 && date("H:i", strtotime($metrics->getTime())) <  $time) )) {
                                    $disable = true;
                                }
                                if (!empty($disableDays[5]) && $disableDays[5]) {
                                    $disable = true;
                                }
                                if (! $subscription &&
                                    (array_key_exists(5,$isSpecialDay) &&
                                        (date("H:i", strtotime($metrics->getTime())) < date('H:i:s',strtotime($isSpecialDay[5]['time_open'])) ||
                                            date("H:i", strtotime($metrics->getTime())) > date('H:i:s',strtotime($isSpecialDay[5]['time_close']))))) {

                                    $disable = true;
                                }
                                $price = ( ! $subscription)? '$'.$metrics->getCostRelativeByToday($dayNumber): '';
                                ?>
                                <div class="checkbox <?= ($disable || is_null($metrics->getCostRelativeByToday($dayNumber))) ? 'disable' : '' ?>">
                                    <label>
                                        <?php if(!$disable && !is_null($metrics->getCostRelativeByToday($dayNumber)) && !$metrics->checkIfTimePassed($dayNumber)): ?>
                                            <span name="shipping_cost"
                                                  available="<?php if($disable) { echo 0; } else {echo 1;} ?>"
                                                  date="<?php echo $metrics->getTimeStampRelativeByToday($dayNumber); ?> <?php echo $metrics->getTime(); ?>"
                                                  time_slot="<?php echo $metrics->getTimeslotName(); ?>"
                                                  type="radio"
                                                  value="<?php echo $metrics->getCostRelativeByToday($dayNumber); ?>"
                                                  storepickup_id="<?php echo $storeId ?>"
                                            ><?php echo $price; ?></span>

                                        <?php endif; ?>
                                    </label>
                                </div>
                            </td>
                        <?php endif; ?>
                        <?php if( ( (! $subscription && ($typeMenu != 1)) || ($typeMenu == 2)) || (($subscription || ($typeMenu == 1)) && in_array(6,$daysAllowed))): ?>
                            <td style="padding:0; margin: 0; column-span:0; width: 70px">
                                <?php $dayNumber = ($typeMenu == 2)? $daysNumber[5]: 6; ?>
                                <?php
                                $disable = false;
                                if (! $subscription && in_array(6,$isHoliday)) {
                                    $disable = true;
                                }
                                $day = date('w');
                                $datetime = new DateTime('-'.($day-(6-1)).' day');
                                $today = new DateTime();
                                $tomorrow = new DateTime('tomorrow');
                                if($block->getShippingType() != 'delivery' && ($datetime->format('Y/m/d') == $today->format('Y/m/d') || intval($datetime->diff($tomorrow)->format('%R%a')) == 0)) {
                                    $disable = true;
                                }
                                if(($block->getShippingType() == 'delivery' && $datetime->format('Y/m/d') == $today->format('Y/m/d') || (intval($datetime->diff($tomorrow)->format('%R%a')) == 0 && date("H:i", strtotime($metrics->getTime())) <  $time) )) {
                                    $disable = true;
                                }
                                if (!empty($disableDays[6]) && $disableDays[6]) {
                                    $disable = true;
                                }
                                if (! $subscription &&
                                    (array_key_exists(6,$isSpecialDay) &&
                                        (date("H:i", strtotime($metrics->getTime())) < date('H:i:s',strtotime($isSpecialDay[6]['time_open'])) ||
                                            date("H:i", strtotime($metrics->getTime())) > date('H:i:s',strtotime($isSpecialDay[6]['time_close']))))) {

                                    $disable = true;
                                }
                                $price = ( ! $subscription)? '$'.$metrics->getCostRelativeByToday($dayNumber): '';
                                ?>
                                <div class="checkbox <?= ($disable || is_null($metrics->getCostRelativeByToday($dayNumber))) ? 'disable' : '' ?>">
                                    <label>
                                        <?php if(!$disable && !is_null($metrics->getCostRelativeByToday($dayNumber)) && !$metrics->checkIfTimePassed($dayNumber)): ?>
                                            <span name="shipping_cost"
                                                  available="<?php if($disable) { echo 0; } else {echo 1;} ?>"
                                                  date="<?php echo $metrics->getTimeStampRelativeByToday($dayNumber); ?> <?php echo $metrics->getTime(); ?>"
                                                  time_slot="<?php echo $metrics->getTimeslotName(); ?>"
                                                  type="radio"
                                                  value="<?php echo $metrics->getCostRelativeByToday($dayNumber); ?>"
                                                  storepickup_id="<?php echo $storeId ?>"
                                            ><?php echo $price; ?></span>

                                        <?php endif; ?>
                                    </label>
                                </div>
                            </td>
                        <?php endif; ?>
                        <?php if( ($typeMenu == 2) || ($subscription || ($typeMenu == 1)) && in_array(7,$daysAllowed)): ?>
                            <td style="padding:0; margin: 0; column-span:0; width: 70px">
                                <?php $dayNumber = (($typeMenu == 2))? $daysNumber[6]: 7; ?>
                                <?php
                                $disable = false;
                                if (! $subscription && in_array(7,$isHoliday)) {
                                    $disable = true;
                                }
                                $day = date('w');
                                $datetime = new DateTime('-'.($day-(7-1)).' day');
                                $today = new DateTime();
                                $tomorrow = new DateTime('tomorrow');
                                if($block->getShippingType() != 'delivery' && ($datetime->format('Y/m/d') == $today->format('Y/m/d') || intval($datetime->diff($tomorrow)->format('%R%a')) == 0)) {
                                    $disable = true;
                                }
                                if(($block->getShippingType() == 'delivery' && $datetime->format('Y/m/d') == $today->format('Y/m/d') || (intval($datetime->diff($tomorrow)->format('%R%a')) == 0 && date("H:i", strtotime($metrics->getTime())) <  $time) )) {
                                    $disable = true;
                                }
                                if (!empty($disableDays[7]) && $disableDays[7]) {
                                    $disable = true;
                                }
                                if (! $subscription &&
                                    (array_key_exists(7,$isSpecialDay) &&
                                        (date("H:i", strtotime($metrics->getTime())) < date('H:i:s',strtotime($isSpecialDay[7]['time_open'])) ||
                                            date("H:i", strtotime($metrics->getTime())) > date('H:i:s',strtotime($isSpecialDay[7]['time_close']))))) {

                                    $disable = true;
                                }
                                $price = ( ! $subscription)? '$'.$metrics->getCostRelativeByToday($dayNumber): '';
                                ?>
                                <div class="checkbox <?= ($disable || is_null($metrics->getCostRelativeByToday($dayNumber))) ? 'disable' : '' ?>">
                                    <label>
                                        <?php if(!$disable && !is_null($metrics->getCostRelativeByToday($dayNumber)) && !$metrics->checkIfTimePassed(6)): ?>
                                            <span name="shipping_cost"
                                                  available="<?php if($disable) { echo 0; } else {echo 1;} ?>"
                                                  date="<?php echo $metrics->getTimeStampRelativeByToday($dayNumber); ?> <?php echo $metrics->getTime(); ?>"
                                                  time_slot="<?php echo $metrics->getTimeslotName(); ?>"
                                                  type="radio"
                                                  value="<?php echo $metrics->getCostRelativeByToday($dayNumber); ?>"
                                                  storepickup_id="<?php echo $storeId ?>"
                                            ><?php echo $price; ?></span>

                                        <?php endif; ?>
                                    </label>
                                </div>
                            </td>
                        <?php endif; ?>
                    </tr>
                <?php endforeach; ?>
            </table>
        </div>
    </div>

</div>
<?php else: ?>
    <span style="collapse: red">There are currently no pick up timeslots availible</span>
<?php endif; ?>


<script type="text/javascript">
    window.subscriptionBackInfo = <?php echo $block->getSubscriptionInfo() ?>;
//    require(
//        [
//            'jquery'
//        ],function($) {
//            $(document).ready(function(){
//                $('[name="shipping_cost"]').click(function(){
//                    addressInformation.extension_attributes.delivery_price = $(this).val();
//                });
//            });
//        });
</script>