<!--@subject {{trans "Inquiry Whole Message From %email" email=$data.email}} @-->
<!--@vars {
"var $data.first-name":"Customer First Name",
"var $data.last-name":"Customer Last Name",
"var $data.email":"Customer Email",
"var $data.message":"Customer Message"
} @-->

{{template config_path="design/email/header_template"}}

<table align="center">
    <tr class="email-intro">
        <td>
            <p>Inquiry Whole Email Template</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="message-info">
                <tr>
                    <td>
                        {{trans "First Name: %firstname" firstname=$data.first-name}}<br/>
                        {{trans "Last Name: %lastname" lastname=$data.last-name}}<br/>
                        {{trans "Email: %email" email=$data.email}}<br/>
                        {{trans "Message: %message" message=$data.message}}<br/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}