<!--@subject {{trans "Inquiry Contact Message From %email" email=$data.email}} @-->
<!--@vars {
"var $data.first-name":"Customer First Name",
"var $data.last-name":"Customer Last Name",
"var $data.email":"Customer Email",
"var $data.phone1":"Customer Phone Part 1",
"var $data.phone2":"Customer Phone Part 2",
"var $data.phone3":"Customer Phone Part 3",
"var $data.inquirytype":"Inquiry Type Data",
"var $data.message":"Customer Message"
} @-->

{{template config_path="design/email/header_template"}}

<table align="center">
    <tr class="email-intro">
        <td>
            <p>Inquiry Contact Email Template</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="message-info" style="">
                <tr>
                    <td>
                        {{trans "First Name: %firstname" firstname=$data.first-name}}<br/>
                        {{trans "Last Name: %lastname" lastname=$data.last-name}}<br/>
                        {{trans "Email: %email" email=$data.email}}<br/>
                        {{trans "Phone: %phone1" phone1=$data.phone-1}} {{trans "%phone2" phone2=$data.phone-2}} {{trans "%phone3" phone3=$data.phone-3}}<br/>
                        {{trans "I have a question regarding: %inquirytype" inquirytype=$data.inquirytype}}<br/>
                        {{trans "Message: %message" message=$data.message}}<br/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}