.inquiry-contact-index,
.inquiry-order-index {
    #submit-contact-form {
        .tel-four-numbers {
            width: 55px;
        }
        .question-options {
            ul {
                li {
                    line-height: 2em;
                    input {
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    .catering-main-links {
        a {
            background: transparent url('@{baseDir}images/tumeric-arrow-left.png') no-repeat left top;
            color: @theme0 !important;
            background-size: cover;
            line-height: 44px;
            height: 40px;
            padding: 0 0 0 40px;
            text-decoration: none;
            display: inline-block;
            position: relative;
            margin: 20px 0 0 0;
            font-size: @sl2;
            font-family: @font3;

            &:after {
                background: transparent url('@{baseDir}images/tumeric-arrow-right.png') no-repeat right top;
                background-size: cover;
                content: "";
                width: 40px;
                height: 40px;
                top: 0px;
                right: -40px;
                position: absolute;
                display: block;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
    .celery-wood-bg-nopad {
        background: @theme6 url('@{baseDir}images/turmeric-speckle.jpg');

    }

    input[type=radio], input[type=checkbox] {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: inherit;
        width: 11px;
        height: 11px;
        border: 1px solid @gray;
        background: @theme0;
        border-radius: 90px;
        margin: 0 3px -1px 0;

        &:checked {
            background: @theme2;
        }
    }
    .question-options {
        li {
            line-height: inherit;

            label {
                display: inline-block;
                font-weight: inherit;
                width: auto;
                font-family: @font5 !important;
                margin: 0;
            }
        }
    }
}