<?php
/** @var \Magestore\Storepickup\Block\Wrapper $block */
$collection = $block->getStoreMetricsByPackageId();
?>
<div class="arrow-wrap">
    <h4 class="btn-tumeric-arrow"><?php if($block->getShippingType() == 'pickup') { echo 'Pickup'; } else { echo 'Delivery Options';} ?></h4>
</div>
<?php if($collection->count()): ?>
<div class="deleivery-steps ">
<div class="<?php echo $block->getShippingType() ?>-option-times">
    <div class="deleivery-steps">
        <h4 class="delivery-option-title">
            Time Slots
        </h4>
        <table>
            <tr>
                <td></td>
                <?php $datetime = new DateTime('+1 day'); ?>
                <td><?php echo $datetime->format('D m/d'); ?></td>
                <?php $datetime = new DateTime('+2 day'); ?>
                <td><?php echo $datetime->format('D m/d'); ?></td>
                <?php $datetime = new DateTime('+3 day'); ?>
                <td><?php echo $datetime->format('D m/d'); ?></td>
                <?php $datetime = new DateTime('+4 day'); ?>
                <td><?php echo $datetime->format('D m/d'); ?></td>
                <?php $datetime = new DateTime('+5 day'); ?>
                <td><?php echo $datetime->format('D m/d'); ?></td>
                <?php $datetime = new DateTime('+6 day'); ?>
                <td><?php echo $datetime->format('D m/d'); ?></td>
            </tr>
                <?php foreach($collection as $metrics): ?>
                    <tr>
                    <td><?php echo $metrics->getTimeslotName(); ?></td>
                    <td style="padding:0; margin: 0; column-span:0; width: 70px">
                        <div class="timeslot checkbox">
                            <label>
                                <?php if(!$metrics->checkIfTimePassed(1)): ?>
                                <span name="shipping_cost"
                                      date="<?php echo $metrics->getTimeStampRelativeByToday(1); ?> <?php echo $metrics->getTime(); ?>"
                                      time_slot="<?php echo $metrics->getTimeSlotDescription(1); ?>"
                                      type="radio"
                                      value="<?php echo $metrics->getCostRelativeByToday(1); ?>">$<?php echo $metrics->getCostRelativeByToday(1); ?></span>
                                <?php else: ?>
                                    N/A
                                <?php endif; ?>
                            </label>
                        </div>
                    </td>
                    <td style="padding:0; margin: 0; column-span:0; width: 70px">
                        <div class="checkbox">
                            <label>
                                <?php if(!$metrics->checkIfTimePassed(2)): ?>
                                <span name="shipping_cost"
                                      date="<?php echo $metrics->getTimeStampRelativeByToday(2); ?> <?php echo $metrics->getTime(); ?>"
                                      time_slot="<?php echo $metrics->getTimeSlotDescription(2); ?>"
                                      type="radio"
                                      value="<?php echo $metrics->getCostRelativeByToday(2); ?>">$<?php echo $metrics->getCostRelativeByToday(2); ?></span>
                                <?php else: ?>
                                    N/A
                                <?php endif; ?>
                            </label>
                        </div>
                    </td>
                    <td style="padding:0; margin: 0; column-span:0; width: 70px">
                        <div class="checkbox">
                            <label>
                                <?php if(!$metrics->checkIfTimePassed(3)): ?>
                                <span name="shipping_cost"
                                      date="<?php echo $metrics->getTimeStampRelativeByToday(3); ?> <?php echo $metrics->getTime(); ?>"
                                      time_slot="<?php echo $metrics->getTimeSlotDescription(3); ?>"
                                      type="radio"
                                      value="<?php echo $metrics->getCostRelativeByToday(3); ?>">$<?php echo $metrics->getCostRelativeByToday(3); ?></span>
                                <?php else: ?>
                                    N/A
                                <?php endif; ?>
                            </label>
                        </div>
                    </td>
                    <td style="padding:0; margin: 0; column-span:0; width: 70px">
                        <div class="checkbox">
                            <label>
                                <?php if(!$metrics->checkIfTimePassed(4)): ?>
                                <span name="shipping_cost"
                                      date="<?php echo $metrics->getTimeStampRelativeByToday(4); ?> <?php echo $metrics->getTime(); ?>"
                                      time_slot="<?php echo $metrics->getTimeSlotDescription(4); ?>"
                                      type="radio"
                                      value="<?php echo $metrics->getCostRelativeByToday(4); ?>">$<?php echo $metrics->getCostRelativeByToday(4); ?></span>
                                <?php else: ?>
                                    N/A
                                <?php endif; ?>
                            </label>
                        </div>
                    </td>
                    <td style="padding:0; margin: 0; column-span:0; width: 70px">
                        <div class="checkbox ">
                            <label>
                                <?php if(!$metrics->checkIfTimePassed(5)): ?>
                                <span name="shipping_cost"
                                      date="<?php echo $metrics->getTimeStampRelativeByToday(5); ?> <?php echo $metrics->getTime(); ?>"
                                      time_slot="<?php echo $metrics->getTimeSlotDescription(5); ?>"
                                      type="radio"
                                      value="<?php echo $metrics->getCostRelativeByToday(5); ?>">$<?php echo $metrics->getCostRelativeByToday(5); ?></span>
                                <?php else: ?>
                                    N/A
                                <?php endif; ?>
                            </label>
                        </div>
                    </td>
                    <td style="padding:0; margin: 0; column-span:0; width: 70px">
                        <div class="checkbox">
                            <label>
                                <?php if(!$metrics->checkIfTimePassed(6)): ?>
                                <span name="shipping_cost"
                                      date="<?php echo $metrics->getTimeStampRelativeByToday(6); ?> <?php echo $metrics->getTime(); ?>"
                                      time_slot="<?php echo $metrics->getTimeSlotDescription(6); ?>"
                                      type="radio"
                                      value="<?php echo $metrics->getCostRelativeByToday(6); ?>">$<?php echo $metrics->getCostRelativeByToday(6); ?></span>
                                <?php else: ?>
                                    N/A
                                <?php endif; ?>
                            </label>
                        </div>
                    </td>
                    </tr>
                <?php endforeach; ?>
        </table>
    </div>
</div>
</div>
<?php else: ?>
    <span style="collapse: red">There are currently no pick up timeslots availible</span>
<?php endif; ?>

<script type="text/javascript">
//    require(
//        [
//            'jquery'
//        ],function($) {
//            $(document).ready(function(){
//                $('[name="shipping_cost"]').click(function(){
//                    addressInformation.extension_attributes.delivery_price = $(this).val();
//                });
//            });
//        });
</script>