<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $baseUrl = $storeManager->getStore()->getBaseUrl();
?>

<section class="primary-bg">
    <div class="container">
        <h1 class="chia-seed overline eveleth">
            Contact
        </h1>

        <div class="row">
            <div class="col-md-4">
                <h2 class="surveyor-bold-italic">Kitchfix Headquarters</h2>
                <p>1731 W Grand, Chicago, IL 60622</p>
                <p><bold>Phone: </bold> <a href="tel:13124020221">(312) 402.0221</a></p>
                <p><bold>Email: </bold><a href="mailto:info@kitchfix.cominfo@kitchfix.com">info@kitchfix.cominfo@kitchfix.com</a></p>

                <h2 class="surveyor-bold-italic">Customer Service Hours</h2>
                <ul>
                    <li><bold>Monday – Wednesday: </bold>8am – 9pm CT</li>
                    <li><bold>Thursday: </bold>8am – 5pm CT</li>
                    <li><bold>Friday: </bold>8am – 4pm CT</li>
                    <li><bold>Sunday: </bold>12pm – 9pm CT</li>
                </ul>
            </div>

            <div class="col-md-7 col-md-offset-1">
                <form id="submit-contact-form" method="post" action="<?php echo $baseUrl; ?>inquiry/contact">
                    <div class="input-half-left">
                        <label><?php echo __('FIRST NAME') ?>*</label>
                        <input type="text" name="first-name" aria-label="First Name" id="contact-first-name">
                    </div>

                    <div class="input-half-left">
                        <label><?php echo __('LAST NAME') ?>*</label>
                        <input type="text" name="last-name" aria-label="Last Name" id="contact-last-name">
                    </div>

                    <div class="input-third-left label-block">

                        <!-- Phone number OR email is required -->
                        <label><?php echo __('PHONE NUMBER') ?></label>

                        <input class="tel" type="text" name="phone-1" aria-label="Telephone 1" id="contact-phone-1" placeholder="###" maxlength="3" step="1"> -
                        <input class="tel" type="text" name="phone-2" aria-label="Telephone 2" id="contact-phone-2" placeholder="###" maxlength="3" step="2"> -
                        <input class="tel tel-four-numbers" type="text" name="phone-3" aria-label="Telephone 3" id="contact-phone-3" placeholder="####" maxlength="4" step="3">
                    </div>

                    <div class="input-third-left">

                        <!-- Phone number OR email is required -->
                        <label><?php echo __('EMAIL') ?>*</label>
                        <input type="email" name="email" aria-label="Email" id="contact-email">
                    </div>

                    <div class="input-full label-block question-options">
                        <label><?php echo __('I HAVE A QUESTION REGARDING') ?>:</label>
                        <ul>
                            <li><input type="radio" name="inquirytype" aria-label="Partnerships" value="Partnerships" id="partnerships"><label for="partnerships">Partnerships</label></li>
                            <li><input type="radio" value="Media Requests" name="inquirytype" aria-label="Media Requests" id="media-requests"><label for="media-requests">Media Requests</label></li>
                            <li><input type="radio" name="inquirytype" aria-label="Meal Delivery Customer Service" value="Meal Delivery Customer Service" id="meal-delivery-customer-service"><label for="meal-delivery-customer-service">Meal Delivery Customer Service</label></li>
                            <li><input type="radio" name="inquirytype" aria-label="Grain-Free Grocery questions/Customer Service" value="Grain-Free Grocery questions/Customer Service" id="grocery-question"><label for="grocery-question">Grain-Free Grocery Questions/Customer Service</label></li>
                            <li><input type="radio" name="inquirytype" aria-label="Wholesale Opportunities" value="Wholesale Opportunities" id="wholesale-opportunities"><label for="wholesale-opportunities">Wholesale Opportunities</label></li>
                            <li><input type="radio" name="inquirytype" aria-label="Question for the Nutritionist" value="Question for the Nutritionist" id="nutrition"><label for="nutrition">Question for the Nutritionist</label></li>
                            <li><input type="radio" name="inquirytype" aria-label="General Inquiries" value="General Inquiries" id="general"><label for="general">General Inquiries</label></li>
                        </ul>
                    </div>

                    <div class="input-full label-block">
                        <label>Message</label>
                        <textarea name="message" rows="6"></textarea>
                    </div>


                    <div class="input-full input-group chia-seed">
                        <!-- Confirmation message: Thanks for reaching out! You will receive a response within 2 business days. Need help sooner? Call us at 312-402-0221. -->
                        <span class="input-group-btn">
                            <button class="btn" id="submit-contact" type="submit">SUBMIT</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="hex-bg divider">
</div>

<script type="text/javascript">
    requirejs(['jquery', 'jquery.bootstrap.hacked'], function ($, jQueryBootstrap) {
        $(document).ready(function(){
            $("#submit-contact").click(function(){
                $("#submit-contact-form").submit();
            });
        });
    });
</script>