<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $baseUrl = $storeManager->getStore()->getBaseUrl();
?>
<div class="container">
    <div class="chia-seed-overline">
        <div class="row">
            <div class="col-md-12">
                <h1 class="tumeric overline">
							<span class="eveleth block">
								catering
							</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<section class="primary-bg margin-top-none">
    <div class="container">
        <div class="row row-with-vspace">
            <div class="col-md-12">
                <img src="<?php echo $this->getViewFileUrl('images/catering/catering-header.jpg'); ?>" />
            </div>
        </div>
    </div><!--end container-->
</section>

<!-- Start Main Content Section -->
<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('catering-main-content')->toHtml();?>
<!-- End Main Content Section -->



<section class="primary-bg">
    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-md-4">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('catering-form-content')->toHtml();?>
            </div>

            <div class="col-md-8">
                <form id="submit-catering-form" method="post" action="<?php echo $baseUrl; ?>inquiry/order">
                    <div class="input-half-left">
                        <label>First Name*</label>
                        <input type="text" name="first-name" aria-label="First Name" id="catering-first-name">
                    </div>

                    <div class="input-half-left">
                        <label>Last Name*</label>
                        <input type="text" name="last-name" aria-label="Last Name" id="catering-last-name">
                    </div>

                    <div class="input-full">
                        <label>Organization</label>
                        <input type="text" name="organization" aria-label="Organization" id="catering-organization">
                    </div>

                    <div class="input-third-left label-block">

                        <!-- Phone number OR email is required -->
                        <label>Phone Number</label>

                        <input class="tel" type="text" name="phone-1" aria-label="Telephone 1" id="contact-phone-1" placeholder="###" maxlength="3" step="1"> -
                        <input class="tel" type="text" name="phone-2" aria-label="Telephone 2" id="contact-phone-2" placeholder="###" maxlength="3" step="2"> -
                        <input class="tel tel-four-numbers" type="text" name="phone-3" aria-label="Telephone 3" id="contact-phone-3" placeholder="####" maxlength="4" step="3">
                    </div>

                    <div class="input-third-left">

                        <!-- Phone number OR email is required -->
                        <label>Email*</label>
                        <input type="text" name="email" aria-label="Email" id="catering-email">
                    </div>

                    <div class="input-full label-block">
                        <label>Request* (Please select at least one)</label>

                        <ul class="question-options">
                            <li><input type="radio" name="inquirytype" value="Order inquiry" aria-label="Order inquiry" id="order-inquiry"><label for="order-inquiry">Order inquiry</label></li>
                            <li><input type="radio" name="inquirytype"  value="Schedule tasting" id="schedule-tasting"><label for="schedule-tasting">Schedule tasting</label></li>
                            <li><input type="radio" name="inquirytype" value="General information/questions" aria-label="General information/questions" id="general-info"><label for="general-info">General information/questions</label></li>
                        </ul>
                    </div>

                    <div class="input-full label-block">
                        <label>Message</label>
                        <textarea name="message" rows="6"></textarea>
                    </div>

                    <div class="input-full input-group chia-seed">

                        <!-- Confirmation message: Thanks for reaching out! You will receive a response within 2 business days. Need help sooner? Call us at 312-402-0221. -->
                        <span class="input-group-btn">
									<button class="btn" id="submit-catering"  type="submit">submit</button>
								</span>
                    </div>
                </form>
            </div>
        </div>

    </div><!--end container-->
</section>

    <!-- Start Testimonials Section -->
    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('testimonials-catering')->toHtml();?>
    <!-- End Testimonials Section -->

</main>


<div class="kfx-overlay"></div>

<script type="text/javascript">
        require(
            [
                'jquery',
                '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js',
                '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
            ],
            function($, bootstrap,slick) {
                $(document).on('ready', function() {
                    $("#submit-catering").click(function(){
                        $("#submit-catering-form").submit();
                    });
                    $('.responsive').slick({
                        dots: true,
                        infinite: false,
                        speed: 300,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        responsive: [
                            {
                                breakpoint: 1024,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1,
                                    infinite: true,
                                    dots: true
                                }
                            },
                            {
                                breakpoint: 600,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1
                                }
                            },
                            {
                                breakpoint: 480,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1
                                }
                            }
                        ]
                    });




                    $('.slider-for-granola').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                        fade: true,
                        asNavFor: '.slider-nav-granola'
                    });

                    $('.slider-nav-granola').slick({
                        asNavFor: '.slider-for-granola',
                        dots: true,
                        centerMode: true,
                        variableWidth: true,
                        focusOnSelect: true
                    });

                    $('.slider-for-waffle').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                        fade: true,
                        asNavFor: '.slider-nav-waffle'
                    });

                    $('.slider-nav-waffle').slick({
                        asNavFor: '.slider-for-waffle',
                        dots: true,
                        centerMode: true,
                        variableWidth: true,
                        focusOnSelect: true
                    });

                    $('.testimonial').slick({
                        dots: true,
                        centerMode: true,
                        variableWidth: true,
                        focusOnSelect: true
                    });

                });
            }
        )
    </script>