<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
?>
<div class="container">
    <div class="chia-seed-overline">
        <div class="row">
            <div class="col-md-12">
                <h1 class="celery overline">
							<span class="eveleth block">
								Wholesale
							</span>
                </h1>
            </div>
        </div>
    </div>
</div>
<section class="margin-top-none">
    <div class="container">
        <div class="row row-with-vspace">
            <div class="col-md-12">
                <img src="<?= $this->getViewFileUrl('Clarity_Inquiry::images/wholesale-header.jpg') ?>" />
            </div>
        </div>
    </div><!--end container-->
</section>
<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('wholesale-main-content')->toHtml();?>
<section class="">
    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <h2 class="eveleth chia-seed">
							<span class="eveleth">
								Join our wholesale community.
							</span>
                </h2>
            </div>

            <div class="col-md-8">
                <form id="submit-whole-form" method="post" action="<?php echo $baseUrl; ?>inquiry/wholesale"
                      data-hasrequired="* Required Fields"
                      data-mage-init='{"validation":{}}'>
                    <div class="input-half-left">
                        <label>First Name*</label>
                        <input type="text" name="first-name" aria-label="First Name" id="wholesale-first-name" data-validate='{"required":true}' class="input-text required" type="text">
                    </div>

                    <div class="input-half-left">
                        <label>Last Name*</label>
                        <input type="text" name="last-name" aria-label="Last Name" id="wholesale-last-name" data-validate='{"required":true}' class="input-text required" type="text">
                    </div>


                    <div class="input-third-left">

                        <!-- Phone number OR email is required -->
                        <label>Email*</label>
                        <input type="text" name="email" aria-label="Email" id="catering-email" data-validate='{"required":true}' class="input-text required" type="text">
                    </div>

                    <div class="input-full">
                        <label>Message*</label>
                        <textarea name="message" aria-label="message" id="wholesale-message" data-validate='{"required":true}' class="message input-text required" type="text"></textarea>
                    </div>

                    <div class="input-full input-group chia-seed">

                        <!-- Confirmation message: Thank you for your message! A member of the Kitchfix team will be in touch shortly.  -->
                        <span class="input-group-btn">
									<button id="submit-whole" class="btn btn-default" type="submit">submit</button>
								</span>
                    </div>
                </form>
            </div>
        </div>

    </div><!--end container-->
</section>

<!-- Start Testimonials Section -->
<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('testimonials-wholesale')->toHtml();?>
<!-- End Testimonials Section -->

<div class="kfx-overlay"></div>
<script type="text/javascript">
    require([
        'jquery',
        'Clarity_Inquiry/js/slick'
    ], function (jQuery) {
        jQuery(document).ready(function () {
            jQuery("#submit-whole").click(function(){
                jQuery("#submit-whole-form").submit();
            });
            jQuery('.responsive').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 1,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });




            jQuery('.slider-for-granola').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav-granola'
            });

            jQuery('.slider-nav-granola').slick({
                asNavFor: '.slider-for-granola',
                dots: true,
                centerMode: true,
                variableWidth: true,
                focusOnSelect: true
            });
            jQuery('.slider-for-waffle').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav-waffle'
            });

            jQuery('.slider-nav-waffle').slick({
                asNavFor: '.slider-for-waffle',
                dots: true,
                centerMode: true,
                variableWidth: true,
                focusOnSelect: true
            });

            jQuery('.testimonial').slick({
                dots: true,
                centerMode: true,
                variableWidth: true,
                focusOnSelect: true
            });
        });
    });

    require([
        'jquery',
        'mage/mage'
    ], function($){

        var dataForm = $('#submit-whole-form');
        dataForm.mage('validation', {});

    });
</script>
